:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --gray: #ddd;
  --light: #f0f0f0;
  --primary: #646cff;
  --primary-hover: #535bf2;
  --primary-light: #e5e6ff;
}
